<div class="header">
    <div class="container-fluid">
        <div class="col-lg-12 header-title-wrapper">
            <span class="header-title"> Pantaloons</span>
            <div class="title-underline"></div>
            <span class="tag-line">Shopping</span>
        </div>
    </div>
</div>
<div class="image-wrapper">
    <div class="container-fluid">

    </div>
</div>
<div class="description-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-push-2 col-lg-3 description-1">
                <p>Each unit can be customised from over 200 combinations</p>
            </div>
        </div>
        <div class="row">
           <div class="col-lg-push-2 col-lg-3">
               <div class="description-divider"></div>
           </div>
        </div>
        <div class="row">
            <div class="col-lg-push-2 col-lg-3 description-2">
                <p>Each unit can be customised from over 200 combinations</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-push-2 col-lg-3">
                <div class="description-divider"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-push-2 col-lg-3 description-2">
                <p>Each unit can be customised from over 200 combinations</p>
            </div>
        </div>

    </div>
</div>
<div class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-push-2 col-lg-3"></div>
        </div>
    </div>
</div>